<!DOCTYPE html>
<html lang="ho">
<head>
    <meta charset="UTF-8">
    <title>あっち向いてホイ</title>
</head>
<body>
    <p>あなたの指は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝<%= draw %>分しています．</p>qq
    <hr>
    <form action="/hoi">
        <input type="text" name="finger" required>
        <label for="finger">次は何を出す？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="あっち向いて　ホイ">
    </form>   
</body>
</html>